.search{
    width: 63vw;
    height: 6vh;
    margin-left: 5vw;
    padding:.3em;
    border: 1px solid #111827;
}
.drp-dwn{
    position: relative;
    left: -2em;
}
.search-results{
    width: 63vw;
    height: 20vh;
    margin-left: 5vw;
    border: 1px solid #111827;
    overflow-y: scroll;
    transition: 0.1s;
    position: fixed;
    background-color: white;
}
.result{
    display:block;
    padding:.3em;
}
.result:hover{
    background-color: #bbb;
}
.hidden-results{
    height:0;
    border:none;
}
.department-title{
    padding: 1em 0 .5em 4em;
    width:63vw;
    display: inline-block;
}
.filters{
    display: inline-flex;
    gap:1em;
}
.department-cards-cont{
    width:75vw;
    height: 30vh;
    margin-left: 6em;
    display: flex;
    gap:1em;
    flex-wrap: wrap;
}
.department-cards{
    width:calc(75vw/5);
    height:calc(75vw/5);
    background-color: #bbb;
    border-radius: 6px;
    border: 1px solid #111827;
}
.main-cont{
    padding-bottom: 3rem;
}