.main-cont{
    display: flex;
    justify-content: center;
}
.logos-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:4em;
    margin-top:3em;
}
.logos{
    width: calc(65vw/3);
    height: calc(65vw/3);
    background-color:white;
    border-radius: 50%;
    border: 4px solid #111827;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition:.1s;
    
}
.logos svg{
    fill:#111827;
    width: 9vw;
    height: 9vw;
    transition:.1s;
}
.logo-outer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
}


