<%- include("header")-%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/navbar.js"defer></script>
    <script src="/js/admin.js" defer></script>
</head>
<body>
    <!-- NAVBAR -->
<nav class="side-nav inactive-sidenav" id="side-nav">
    <div class="nav-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list burger" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <h3 class="menu">Menu</h3>
        <div class="logo">
            <img src="/images/Copy_of_Untitled-removebg-preview.png" width="50" class="menu-logo">
            UserType
        </div>
    </div>
    <div class="links">
        <a href="/dashboard"><h4 class="nav-item">Dashboard</h4></a>
        <a href="/documents"><h4 class="nav-item">Documents</h4></a>
        <a href="/management"><h4 class="nav-item">Management</h4></a>
        <a href="/approval-page"><h4 class="nav-item">Approval Page</h4></a>
    </div>
</nav>
<!-- NAVBAR -->
<!-- HEADER -->
<header class="header">
    <div class="header-left">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list burger-button" id="burger-button" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <span class="circleLogo" style="margin-left:1em">
            <img src="/images/Copy_of_Untitled-removebg-preview.png" alt="" class="menu-logo">
        </span>
        <h3 class="prod-name">FiLedger</h3>
    </div>
    <div class="header-right">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
        <h3 class="username">hi, @username</h3>
    </div>
</header>
<!-- HEADER -->

<div class="detailsModal-wrapper inactive">
    <div class="detailsModal">
        <span class="exitModal">&times;</span>
        <div class="modalTitle">Details of <span class="name-user"></span></div>
        <div class="modalDepartment"><span class="department-user"></span></div>
        <div class="table-wrapper">
        <table class="modalTable tableUser">
            <tr>
                <th>Document Titles</th>
                <th>Access Status</th>
            </tr>
            <tr class="data">
                <td>Document 1</td>
                <td>Viewer</td>
            </tr>
           
            <tr class="data">
                <td>Document 1</td>
                <td>Viewer</td>
            </tr>
           
            <tr class="data">
                <td>Document 1</td>
                <td>Viewer</td>
            </tr>
           
            <tr class="data">
                <td>Document 1</td>
                <td>Viewer</td>
            </tr>
           
            <tr class="data">
                <td>Document 1</td>
                <td>Viewer</td>
            </tr>
           
        </table>
        <table class="modalTable tableDoc inactive">
            <tr>
                <th>Username</th>
                <th>Access Status</th>
            </tr>
            <tr class="data">
                <td>Mark</td>
                <td>Viewer</td>
            </tr>
            <tr class="data">
                <td>Mark</td>
                <td>Viewer</td>
            </tr>
            <tr class="data">
                <td>Mark</td>
                <td>Viewer</td>
            </tr>
            <tr class="data">
                <td>Mark</td>
                <td>Viewer</td>
            </tr>
            <tr class="data">
                <td>Mark</td>
                <td>Viewer</td>
            </tr>
            <tr class="data">
                <td>Mark</td>
                <td>Viewer</td>
            </tr>
            <tr class="data">
                <td>Mark</td>
                <td>Viewer</td>
            </tr>
        </table>
    </div>
    <div class="modalButtons">
        <button class="modal-deleteButton modalButton">Delete Account</button>
        <div class="accessButtons">
        <button class="modal-changeButton modalButton" disabled>Change Access</button>
        <button class="modal-revokeButton modalButton" disabled>Revoke Access</button>
        <button class="modal-grantButton modalButton" disabled>Grant Access</button>
    </div>
    </div>
    </div>
</div>

<div class="outer-tabs">
    <a href="/dashboard"><div class="tabs">Dashboard</div></a>
    <a href="../administration/admin"><div class="tabs active-tab">Administration</div></a>
    <a href="/all-documents"><div class="tabs">All Documents</div></a>
    <div class="search-bar">
        <input type="search" name="searchDocs" id="searchDocs" class="searchDocs" placeholder="Search Documents...">
    </div>
</div>


<div class="main-cont">
    <div class="viewsTabs">
        <span>Privileged Access Management: </span>
        <span class="viewsMode inactive">Manage People</span>
        <span class="viewsMode">Manage Documents</span>
    </div>
    <div class="userList">
        <div class="userList-header">
            List of Users
        </div>
        <input type="search" name="usersList" id="searchUserList" class="searchUserList" placeholder="Search Username...">
        <table class="usersList" id="userList">
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Documents</th>
            </tr>
        </table>



        <table class="usersList inactive" id="documentList">
            <tr>
                <th>Document title</th>
                <th>Number of users</th>
            </tr>
        </table>
    </div>
</div>
</div>
</body>
</html>