<%- include("header")-%>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login-style.css">
    <script src="/js/login.js" defer></script>
</head>
<body>
<!-- main container -->
<div class="container">
    <!-- left half -->
    <div class="poster">
        
    </div>
    <!-- end of left half -->
    <!-- right half -->
    <div class="sign-up">
        <h1>Login to Account</h1>
        <div class="form">
            <form method="POST" action="">
                <div class="fields">
                    <input type="email" name="email" placeholder="Email" autocomplete="off" required>
                    <input type="password" name="password" placeholder="Password">
                    <!-- custom dropdown menu -->
                    <select name="dept" class="dropdown">
                        <div class="drpdwn-choices">
                            <option class="choice-val" value="" disabled selected>Choose Department</option>
                            <% for(let i =0; i<=dep.length; i++){%>
                                <option class="choice-val" ><%= dep[i] %></option>
                            <%}%>
                        </div>
                    </select>
                    <!-- end of custom dropdown -->
                    <p>Don't have an account yet? <a href="/registration">Sign Up</a></p>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
    <!-- end of right half -->
</div>
<!-- end of main container -->
</body>
</html>