<!-- NAVBAR -->
<nav class="side-nav inactive-sidenav" id="side-nav">
    <div class="nav-header">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list burger" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <h3 class="menu">Menu</h3>
        <div class="logo">
            <img src="/images/Copy_of_Untitled-removebg-preview.png" width="50" class="menu-logo">
            UserType
        </div>
    </div>
    <div class="links">
        <a href="/dashboard"><h4 class="nav-item">Dashboard</h4></a>
        <a href="../administration/admin"><h4 class="nav-item">Administration</h4></a>
        <a href="/all-documents"><h4 class="nav-item">All Documents</h4></a>
    </div>
    </nav>
    <!-- NAVBAR -->
    <!-- HEADER -->
    <header  class="header">
    <div class="header-left">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list burger-button" id="burger-button" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
        <span class="circleLogo" style="margin-left:1em">
            <img src="/images/Copy_of_Untitled-removebg-preview.png" alt="" class="menu-logo">
        </span>
        <h3 class="prod-name">FiLedger</h3>
    </div>
    <div class="header-right">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill" viewBox="0 0 16 16">
            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>
        <h3 class="username">hi, @username <span class="dropdownArrow">&#9663;</span></h3>
    </div>
    </header>
    <!-- HEADER -->


    <!-- dropdowns -->

    <div class="username-drpdwn dropdown">
        <span class="choice">Change Password</span>
        <span class="choice"><a href="/">Logout</a></span>
    </div>