<%- include("header")-%>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reg-style.css">
    <script src="/js/login.js" defer></script>
</head>
<body>
<div class="container">
    <div class="poster">
        
    </div>
    <div class="sign-up">
        <h1>Create Account</h1>
        <div class="form">
            <form method ="POST" action="/registration/status">
                <div class="fields">
                    <input type="text" name="lastname" placeholder="Last Name" autocomplete="off">
                    <input type="text" name="firstname" placeholder="First Name" autocomplete="off">
<!--                    <input type="text" name="username" placeholder="Username" autocomplete="off">-->
                    <input type="email" name="email" placeholder="Email" autocomplete="off" required>
                   <input type="password" name="password" placeholder="Password">
                    <select name="dept" class="dropdown">
                        <div class="drpdwn-choices">
                            <option class="choice-val" value="" disabled selected>Choose Department</option>
                            <% for(let i =0; i<=dep.length; i++){%>
                                <option class="choice-val" ><%= dep[i] %></option>
                            <%}%>
                        </div>
                    </select>
                    <label for="admin">Admin?</label>
                    <input type="checkbox" id="admin" name="isAdmin" ><br><br>
                    <label for="admin">Can add documents?</label>
                    <input type="checkbox" id="add-doc" name="add_doc" ><br>
                    <p>Already have an account? <a href="/login">Log in</a></p>
                    <button type="submit">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>