<h3>Add User</h3>
<form method="post" action="/user/add">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="email" placeholder="email">
    <button type="submit" name="submit">Submit</button>
</form>
<h3>Users</h3>
<ul>
    <% users.forEach(function(user){ %>
        <li>
            <h4><%= user.value.name %></h4>
            <p><%= user.value.email %></p>
            <form action="/user/delete/<%= user.key%>" method="post">
                <input type="hidden" value="<%= user.value.rev %>" name="rev">
                <button type="submit" name ="delete">X</button>
            </form>
        </li>
    <%}); %>
</ul>
