<%- include("header")-%>
  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/view-documents.css">
    <script src="/js/navbar.js" defer></script>
    <script src="/js/view-document.js" defer></script>
  </head>

  <body>
    <%-include("navbar-component")-%>

      <div class="main-cont ">
        <div class="basic-details">
          <span class="svg">
            <!--SVF-->
          </span>
          <h1><span class="docName">Sample Doc</span></h1>
        </div>
        <div class="docView flex">
          <div class="info-cont">
            <div class="file-title flex">
              <button class="download">Download File</button>
            </div>
            <div class="metadata">
              <div class="metadata-section">
                <table>
                  <tr>
                    <td>File Type:</td>
                    <td>PDF</td>
                  </tr>
                  <tr>
                    <td>File Size:</td>
                    <td>5MB</td>
                  </tr>
                  <tr>
                    <td>File Version:</td>
                    <td>1.0</td>
                  </tr>
                </table>
              </div>
              <div class="metadata-section">
                <table>
                  <tr>
                    <td>Last Modified By:</td>
                    <td>Erin Cordero</td>
                  </tr>
                  <tr>
                    <td>Last modified on:</td>
                    <td>Thursday, September 1, 2022 at 4:57 PM</td>
                  </tr>
                  <tr>
                    <td>Last Accessed:</td>
                    <td>56 minutes ago</td>
                  </tr>
                  <tr>
                    <td>Created On:</td>
                    <td>Sunday, January 15, 2022 at 6:32 PM</td>
                  </tr>
                </table>
              </div>
              <div class="metadata-section">
                <table>
                  <tr>
                    <td>Last Activity:</td>
                    <td>Downloaded</td>
                  </tr>
                  <tr>
                    <td>Tags:</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Page Count:</td>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>Status:</td>
                    <td>Accepted</td>
                  </tr>
                  <tr>
                    <td>Department:</td>
                    <td>Accounting</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="file-cont">
            <span class=" auditEvents">Version History <button class="revert">Revert Version</button></span>
            <div class="versionHist-table-cont ">
              <table class="versionHist">
                <tr class="table-header">
                  <th>Modified By </th>
                  <th>File version</th>
                  <th>Timestamp</th>

                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
                <tr class="data">
                  <td>Miciella Decano</td>
                  <td>3.1</td>
                  <td>--/--/-- at 00:00</td>
                </tr>
              </table>
            </div>

          </div>
        </div>
      </div>