*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.main-cont{
    display:flex;
    flex-wrap: wrap;
    gap:4vw;
    align-items: center;
    justify-content: center;
    padding-bottom: 5vh;
}
.downloadedDoc-section,
.createdDoc-section,
.people-section,
.upload-section{
    background-color: white;
    width: 45vw;
    height: 65vh;
    border: 5px  black double;
    padding:1.5vw;
    overflow-y: auto;
}
.section-title svg{
    width: 2vw;
    height: auto;
    vertical-align: middle;
}
.section-title h2{
    display: inline-block;
}

.upload-inner{
    display: flex;
    gap:3vh;
    flex-direction: column;
    margin-top: 2vh;;
}
.upload-field{
    height:6vh;
}
.upload-button{
    width: 15vw;
    margin-left: auto;
    border: none;
    background-color: #61C6C6;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.upload-button:hover{
    background-color: #398585;
}

.documentsCreated-inner,.downloadedDoc-inner{
    margin-top: 2vh;
    display: flex;
}
.table-list{
    width: 100%;
    border-collapse: collapse;
}
.documentsCreated-filename{
    width: 70%;
}
.table-list td{
    padding:.5vw;
}
.table-list tr{
    border: 1px solid black;
}
.table-list svg{
    width: 1.5vw;
    height: 1.5vw;
}
