*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:black
}
.outer-tabs{
    display: flex;
    gap:.2vw;
    border-bottom:1px solid black ;
    align-items: center;
}
.search-bar{
    margin-left: auto;
    margin-right: 3vw;
    width: 25vw;
}
.searchDocs{
    height: 98%;
    width: 100%;
}
.inner-tabs{
    display: flex;
    gap:.2vw;
    margin-top: .5vw;
    border-bottom: 2px solid rgb(197, 197, 197);
}

.inner-tabs .tabs:first-child{
    margin-left: 2vw;
}
.tabs{
    border-radius: 5px 5px 0px 0px;
    background: linear-gradient(to bottom,rgb(213, 213, 213),rgb(255, 255, 255));
    padding:1.3vh;
    border:1px solid black;
    border-bottom: none;

}
.tabs:hover{
    background: rgb(236, 236, 236);
}
.active-tab{
    background:white!important;
    z-index: 99;
    position: relative;
    top:3px;
}

.content-wrapper{
    height: 100vh;
    background-color: white;
    display: flex;
    /* background-color: red; */
    height: 75vh;
    gap:.2vh;
}
.documents-container{
    height: 100%;
    display: flex;
    width: 70%;
    padding: .5vh;
    flex-direction: column;
    gap:.2vh;

}
.version-history{
    /* background-color: brown; */
    height: 100%;
    width: 30%;
    overflow-y: auto;
    display: flex;
    padding: .5vh;
}
.version-history-cont{
    border: 1px solid black;
    border-radius:5px 5px 0px 0px;
    width: 100%;
    overflow-y: auto;
}
.version-history-table{
    width: 100%;
    border-collapse: collapse;
}
.uploaded-docs{
    width: 100%;
    height: 60%;
    /* background-color: green; */
    overflow-y: auto;
    border: 1px solid black;
    border-radius:5px 5px 0px 0px;

}
.downloaded-docs{
    width: 100%;
    height: 40%;
    /* background-color: yellow; */
    border: 1px solid black;
    overflow-y: auto;
    border-radius:5px 5px 0px 0px;


}

.uploaded-docs-table,.downloaded-docs-table{
    width: 100%;
    border-collapse:collapse ;
}
.uploaded-docs-table td,
.uploaded-docs-table th,
.downloaded-docs-table td,
.downloaded-docs-table th,
.version-history-table td,
.version-history-table th{
    text-align: center;
    padding:.6vw;
}



.table-header, th[colspan="6"]{
    background-color: rgb(217, 217, 217);
    border-bottom: 1px solid black;
}

.uploaded-docs::-webkit-scrollbar,
.downloaded-docs::-webkit-scrollbar,
.version-history-cont::-webkit-scrollbar{
    width:5px;
}
.uploaded-docs::-webkit-scrollbar-thumb,
.downloaded-docs::-webkit-scrollbar-thumb,
.version-history-cont::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgb(186, 186, 186);
}
.table-title{
    background-color: #61C6C6;
    padding:1.5vw;
    border-radius:5px 5px 0px 0px;
    color:white;
    font-size: 1.5vw;
    display: flex;
}
.table-title svg{
    width: 1.5vw;
    height: auto;
}
.upload-buttons{
    margin-left:auto;
    margin-right:1vw;
    gap:2vw;
    display: flex;
    cursor: pointer;
}
.upload-buttons svg:hover{
    background-color:#3e9393;
    border-radius: 5px;
}


.upload-modal-cont{
    position: absolute;
    top:0;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: .2s ease-in-out;
}
.upload-modal-box{
    width:15vw;
    height: 5vw;
    background-color: rgb(239, 239, 239);
    border-radius: 5px;
    padding: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.upload-modal-point{
    width:0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(239, 239, 239);
}

.active-modal{
    transform: scaleY(1);
    transition: .2s ease-in-out;
    transform-origin: top;

}


