*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:black
}
.outer-tabs{
    display: flex;
    gap:.2vw;
    align-items: center;
    border-bottom: 2px solid #ccc;
}
.search-bar{
    margin-left: auto;
    margin-right: 3vw;
    width: 25vw;
}
.searchDocs{
    height: 98%;
    width: 100%;
}


.tabs{
    border-radius: 5px 5px 0px 0px;
    background: linear-gradient(to bottom,rgb(213, 213, 213),rgb(255, 255, 255));
    border:1px solid black;
    border-bottom: none;
    margin-top: 2vw;
    font-size: 1vw;
    padding:.6vw;
}
.tabs:hover{
    background: rgb(236, 236, 236);
}
.active-tab{
    background:white!important;
    z-index: 99;
    position: relative;
    top:3px;
}

.content-wrapper{
    height: 100vh;
    background-color: white;
    display: flex;
    height: 82vh;
    gap:.2vh;
}
.documents-container{
    height: 100%;
    display: flex;
    width: 100%;
    padding: .5vh;
    flex-direction: column;
    gap:.2vh;

}


.uploaded-docs{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    border: 1px solid black;
    border-radius:5px 5px 0px 0px;

}


.uploaded-docs-table{
    width: 100%;
    border-collapse:collapse ;
}
.uploaded-docs-table td,
.uploaded-docs-table th{
    text-align: center;
    padding:.6vw;
}



.table-header, th[colspan="6"]{
    background-color: rgb(217, 217, 217);
    border-bottom: 1px solid black;
}

.uploaded-docs::-webkit-scrollbar{
    width:5px;
}
.uploaded-docs::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgb(186, 186, 186);
}
.table-title{
    background-color: #61C6C6;
    padding:1vw;
    border-radius:5px 5px 0px 0px;
    color:white;
    font-size: 1.2vw;
    display: flex;
}
.table-title svg{
    width: 1.2vw;
    height: auto;
}
.upload-buttons{
    margin-left:auto;
    margin-right:1vw;
    gap:2vw;
    display: flex;
    cursor: pointer;
}
.upload-buttons svg:hover{
    background-color:#3e9393;
    border-radius: 5px;
}


.upload-modal-cont{
    position: absolute;
    top:0;
    z-index: 9;
    display: flex;
    align-items: center;
    transform: scaleX(0);
    transform-origin:right;
    transition: .2s;
}
.upload-modal-box{
    width:15vw;
    height: 5vw;
    background-color: #111827;
    border-radius: 5px;
    padding: .5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}
.upload-modal-point{
    width:0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #111827;
}

.active-modal{
    transform: scaleX(1);
    transition: .2s ;
    transform-origin: right;

}


