* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blue:#61C6C6;
    --darkblue:#111827;
}
.main-cont {
    display: flex;
    flex-direction: column;
}

.status-cont {
    height: 80vh;
    width: 90vw;
    margin: 5vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 4vw;
}
.statuses {
    width: 30vw;
    height: 30vh;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 5px rgb(66, 65, 95);
    border: rgb(146, 146, 146) 1px solid;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
.statuses:hover {
    transform: translateY(5px);
    box-shadow: none;
}

.status-box {
    width: 100%;
    height: 10vh;
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
}

.accepted {
    background-color: rgb(55, 205, 115);
}
.rejected {
    background-color: rgb(205, 55, 55);
}
.pending {
    background-color: rgb(255, 255, 81);
}
.statuses svg {
    fill: white;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 10%;
    stroke: white;
    stroke-width: 2px;
}

.status-cont a {
    text-decoration: none;
    color: black;
}

.addDocs {
    display: flex;
    position: fixed;
    width: 4vw;
    height: 4vw;
    z-index: 9;
    bottom: 4vw;
    left: 4vw;
    cursor: pointer;
}
.addDocs svg {
    width: 4vw;
    height: 4vw;
    fill: #111827;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tooltip .body {
    background-color: #111827;
    color: white;
    padding: 1vw;
    border-radius: 5px;

    width: 5vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7vw;
    text-align: center;
}

.tooltip .point {
    width: 0;
    height: 0;

    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #111827;
}

.inactive {
    opacity: 0;
    transition: 0.3s;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 10rem;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.reject-title {
    font-weight: bold;
    margin-bottom: 20px;
}
.input-content {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}
.input-content button {
    padding: 0.5vw;
    margin-left: 0.5vw;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(218, 218, 36);
}

.input-content input {
    padding: 5px;
    width: 100%;
}
.upload {
    display: flex;
    justify-content: space-between;
    width: 45%;
}

.upload input {
    padding: 5px;
    border: #444 1px solid;
    width: 100%;
}

.button-container {
    margin-top: 10px;
    display: flex;
    gap:2vw;

}

.button-container button {
    padding: 0.5vw;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(122, 215, 88);
    width: 45%;

}
.button-container button:disabled {
    background-color: #c4c4c4;
}



.tags{
    border:1px solid #000000;
    width: 45%;
    display: flex;
    align-items: center;
    overflow-x:auto;
    scrollbar-width: thin;
    
}
.tags::-webkit-scrollbar{
    height:5px
}
.tag-list{
    display: inline;
}
.tag{
    list-style: none;
    display:inline;
    background-color: var(--blue);
    margin-left: .2vw;
    user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-size: 12px;
  color: white;
  padding:.1vw;
  border-radius: 4px;
}

.tag-input{
    display: inline-block;
    border: none!important;
    outline: none;
    /* width:30%; */
}

.inputs-container{
    display: flex;
    gap:2vw;
}

.docType{
    height: 100%;
    padding:.45vw;
    width: 45%;
    background-color: transparent;
    border:1px solid black
}

.button-inner{
    width:45%
}