.content-container{
    margin: 2em auto 0;
    width: 95vw;
    height: 80vh;
    overflow-y: scroll;
}
.searchCont{
    background-color: gray;
    padding:.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleSearch{
    width: 90%;
    padding:.3em
}
.documentsTable{
    width: 100%;
    border-collapse: collapse;
}
.documentsTable th{
    text-align: left;
    border:1px solid black
}
.documentsTable td,th{
    padding:.5em;
}
.documentsTable .file:nth-child(even){
    background-color: rgb(204, 204, 204);
}
.documentsTable tr{
    border: 1px solid black;
}