@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}
.side-nav{
    width:25vw;
    height: 100vh;
    position: fixed;
    /* border-right:1px solid rgb(17,24,39); */
    transition:.3s;
    background-color: white;
    z-index: 99999999999999999999999999;
    box-shadow: 2px 0px 5px 10px rgba(0,0,0,.15);
    
}
.inactive-sidenav{
    transform: translateX(-25vw);
    box-shadow: none;
}

.nav-header{
    padding-top: 2em;
    position: relative;
}
.burger{
    width:2vw;
    height: 2vw;
    vertical-align: middle;
    margin-left: 1em;

}
.menu{
    position: absolute;
    display: inline-block;
    width: fit-content;
    left:35%;
    margin: auto;
    font-size: 2vw;
}
.logo{
    display:flex;
    align-items: center;
    padding-top:2em ;
    flex-direction: column;
}
.menu-logo{
    width:4vw;
}
.links{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 2em;
}
.links a{
    text-decoration: none;
    color:#111827;
    width: 100%;
}
.nav-item{
    padding:1em;
    cursor: pointer;
    width: 100%;
    transition: .1s ease-in;
}
.nav-item:hover{
    background-color: rgb(186, 186, 186);
}

.header,.header-left{
    background-color: #61C6C6;
    display: flex;
    padding:.5em;
    align-items: center;
    color:rgb(17,24,39);
}
.burger-button{
    width: 2vw;
    height: 2vw;
    vertical-align: middle;
}
.circleLogo{
    background-color: white;
    border-radius: 100%;
    padding:5px;
    height: 4vw;
    width: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.prod-name{
    font-size: 2vw;
    vertical-align: middle;
    margin-left: 1rem;
    color:#fff;
}
.header-left{
    width:75vw
}
.header-right{
    display: flex;
    gap:2em;
    position: relative;
}
.header-right svg{
    width: 2vw;
    height: 2vw;
    vertical-align: middle;
    fill:#fff;
    stroke: #111827;
}
.title{
    padding: 1em 0 2em 3em;
    color: #111827;
}

.notifNumber{
    background-color: red;
    color: white;
    padding:3px;
    position: absolute;
    border-radius: 20px;
    left:.9vw;
    bottom:.7vw
}

a{
    text-decoration: none;
    color: black;
}