*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.outer-tabs{
    display: flex;
    gap:.2vw;
    align-items: center;
    border-bottom: 2px solid #ccc;
}
.tabs{
    border-radius: 5px 5px 0px 0px;
    background: linear-gradient(to bottom,rgb(213, 213, 213),rgb(255, 255, 255));
    border:1px solid black;
    border-bottom: none;
    margin-top: 2vw;
    font-size: 1vw;
    padding:.6vw;
}
.search-bar{
    margin-left: auto;
    margin-right: 3vw;
    width: 25vw;
}
.searchDocs{
    height: 98%;
    width: 100%;
}
.active-tab{
    background: white!important;
    border-bottom: none;
    z-index: 1;
    position: relative;
    top:3px
}
.tabs:hover{
    background: rgb(236, 236, 236);
}
.pendingDocs-list{
    width:95vw;
    height: 80vh;
    margin:2vh auto;
    display: flex;
    flex-direction: column;
}
.pendingDocs-table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}
.pendingDocs-table svg{
    vertical-align: middle;
}
.pendingDocs-table td,th,tr{
    border: 1px solid black;
    padding:.5vw;
    border-spacing: 0px;
}
.table-title{
    background-color: #61C6C6;
    padding: 2vw;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 2vw;
    border-radius: 5px 5px 0px 0px;
    
}
.data td:first-child{
    text-align: center;
}
.table-headers th:nth-child(2){
    width:30%
}

.toApprove{
    text-align: center;
}

.pendingDocs-table button{
    padding:.5vw;
    margin-left: .5vw;
    border: none;
    color:white;
    cursor: pointer;
    border-radius: 5px;
}
.reject{
    background-color: rgb(243, 102, 102);
}
.accept{
    background-color: rgb(122, 215, 88);
}

.forApproval{
    margin-top: .5vw;
}


