*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-cont{
    background-color: gray;
}
.outer-tabs{
    background-color: red;
    display: flex;
    gap:.6vw;
}
.outer-tabs .tabs{
    padding:1.3vh;
    border:1px solid black
}
.search-bar{
    margin-left: auto;
    margin-right: 3vw;
    width: 25vw;
}
.searchDocs{
    height: 100%;
    width: 100%;
}
.inner-tabs{
    background-color: blue;
    display: flex;
}
